* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #1703f0, #1B1464);
    overflow-x: hidden;
}
h2,h3{
    background: linear-gradient(90deg,#5b5ce2,#ec4899, #8b5cf6 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
/* ==========================
   HERO
========================== */
header {
    width: 100%;
    padding: 25px 8%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-icons i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

.nav-icons i:hover {
    color: #ffe600;
    transform: scale(1.2);
}

.nav-icons button {
    border: none;
    background: #ffe600;
    color: #222;
    padding: 13px 28px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    transition: .4s;
}

.nav-icons button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}
.btn {
    padding: 12px 30px;
    background: white;
    color: #5B4BFF;
    border-radius: 50px;
    font-weight: 600;
    transition: .4s;
} 
.btn:hover  {
 background: rgb(10, 17, 54);
  color: #eeeeee;
 transform: translateY(-8px);
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 8%;
    position: relative;
}

.hero-content {
    width: 50%;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.8;
    opacity: .9;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.primary {
    background: #fff;
    color: #5B4BFF;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}

.secondary {
    border: 2px solid white;
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    transition: .4s;
}

.primary:hover {
    transform: translateY(-8px);
}

.secondary:hover {
    background: white;
    color: #5B4BFF;
}

.hero-image {
    width: 42%;
    z-index: 2;
    animation: float 5s ease infinite;
}

.hero-image img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .35);
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
}

.one {
    width: 350px;
    height: 350px;
    background: #8d80ff;
    left: -100px;
    top: 150px;
}

.two {
    width: 300px;
    height: 300px;
    background: #00E5FF;
    right: -80px;
    bottom: 120px;
}

.wave {
    margin-top: -5px;
}

.wave svg {
    display: block;
    width: 100%;
}

/* <!--================ CATEGORIES =================--> */

.category-grid {
    display: flex;
    gap: 15px;
    background: #fff;
    padding: 20px;
}
.section {
    padding: 80px 8%;
    background-color: #fff;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #363636;
    background-color: #fff;
}
.category img {
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    transition: .4s;
    align-items: center;
    height: 300px; 
}
.category:hover {
    transform: scale(1.15);
} 
/* ==========================
   REVIEWS
========================== */

.reviews{
max-width:900px;
margin:auto;
}

.review-top{
display:flex;
justify-content:space-between;
align-items:center;
background:#fff;
padding:25px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
margin-bottom:30px;
}

.rating{
display:flex;
align-items:center;
gap:15px;
}

.rating h1{
font-size:55px;
color:#111;
}

.stars{
color:#ff9800;
font-size:24px;
}

.rating p{
font-weight:bold;
color:#27ae60;
}

.review-info{
font-size:17px;
color:#555;
}

.review-card{
display:flex;
gap:20px;
background:#fff;
padding:25px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 8px 25px rgba(0,0,0,.08);
transition:.3s;
}

.review-card:hover{
transform:translateY(-5px);
}

.user{
width:180px;
text-align:center;
}

.avatar{
width:65px;
height:65px;
background:#ff9800;
color:#fff;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:25px;
margin:auto;
margin-bottom:10px;
}

.user span{
font-size:14px;
color:green;
}

.review-content{
flex:1;
}

.small{
font-size:18px;
margin-bottom:8px;
}

.review-content h3{
margin-bottom:10px;
}

.review-content p{
line-height:1.7;
color:#555;
margin-bottom:15px;
}

.review-content small{
color:#888;
}

.show-btn{
    background:#ff6b00;
    color:#fff;
    border:none;
    padding:12px 28px;
    font-size:16px;
    font-weight:600;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s ease;
    box-shadow:0 4px 10px rgba(255,107,0,0.3);
}

.show-btn:hover{
    background:#e65c00;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(255,107,0,0.4);
}

@media(max-width:768px){

.review-top{
flex-direction:column;
align-items:flex-start;
gap:15px;
}

.review-card{
flex-direction:column;
}

.user{
width:100%;
text-align:left;
display:flex;
align-items:center;
gap:15px;
}

.avatar{
margin:0;
}

}

/* ==========================
   FOOTER
========================== */

.footer {
    background: #16234a;
    color: #fff;
    padding: 70px 8% 20px;
    border-radius: 40px 40px 0 0;
    margin-top: 80px;

}
a {
  text-decoration: none;
   transform: translateY(-8px);
   transition: .4s;
}
a:hover {
    transform: translateY(-8px);
    cursor: pointer;
    color: #ffb703;

}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.footer-box h3 {
    margin-bottom: 25px;
    font-size: 22px;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 15px;
}

.footer-box ul li a {
    color: #cfcfcf;
    text-decoration: none;
    transition: .3s;
}

.footer-box ul li a:hover {
    color: #ffb703;
    padding-left: 8px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo span {
    color: #ffb703;
}

.social {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.social a {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, .08);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    transition: .4s;
}

.social a:hover {
    background: #ffb703;
    color: #16234a;
    transform: translateY(-6px);
}

.contact p {
    margin: 12px 0;
    color: #ddd;
}

.contact i {
    margin-right: 10px;
    color: #ffb703;
}

.contact h4 {
    margin: 25px 0 15px;
}

.newsletter {
    display: flex;
    align-items: center;
    border: 2px solid rgba(10, 10, 10, 0.3);
    border-radius: 50px;
    overflow: hidden;
}

.newsletter input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.newsletter input::placeholder {
    color: #ddd;
}

.newsletter button {
    width: 60px;
    height: 60px;
    border: none;
    background: #fff;
    color: #16234a;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.newsletter button:hover {
    background: #ffb703;
}
.fa-brands{
    font-size: 20px;
}
.footer-bottom {
    margin-top: 60px;
    padding-top: 25px;
    border-top: 1px solid rgba(22, 22, 22, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.payments {
    display: flex;
    gap: 15px;
}

.payments img {
    width: 60px;
    transition: .3s;
}
.payments img:hover {
    transform: scale(1.1);
}

.footer-bottom{
background:#16234a;
padding:30px;
display:flex;
justify-content:center;
align-items:center;
gap:15px;
flex-wrap:wrap;
}

.box{
border:1px solid #04a4ee;
padding:10px 18px;
border-radius:4px;
display:flex;
align-items:center;
gap:10px;
color:white;
cursor:pointer;
transition:.3s;
min-width:170px;
justify-content:center;
}

.box:hover{
border-color:#fff;
}

.box i{
color:#fff;
}

.flag{
width:24px;
height:16px;
object-fit:cover;
}


.dropdown{
    position:relative;
    display:inline-block;
}

.dropbtn{
    background:#2d3748;
    color:white;
    border:1px solid #555;
    padding:10px 18px;
    cursor:pointer;
    border-radius:4px;
    font-size:16px;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#fff;
    width:250px;
    border-radius:5px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    margin-top:5px;
}

.dropdown-content label{
    display:block;
    padding:12px;
    cursor:pointer;
    border-bottom:1px solid #eee;
}

.dropdown-content label:hover{
    background:#f4f4f4;
}

.dropdown:hover .dropdown-content{
    display:block;
}

input[type="radio"]{
    margin-right:10px;
}

/* ==========================
   ANIMATION
========================== */

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}

@keyframes leftMove{

from{
opacity:0;
transform:translateX(-80px);
}

to{
opacity:1;
transform:translateX(0);
}

}

@keyframes rightMove{

from{
opacity:0;
transform:translateX(80px);
}

to{
opacity:1;
transform:translateX(0);
}

}
/* ==========================================
   RESPONSIVE MEDIA QUERIES 
   ==========================================  */
@media(max-width:992px) {

    .hero {

        flex-direction: column;

        text-align: center;

        gap: 50px;

    }

    .hero-content {

        width: 100%;

    }

    .hero-image {

        width: 100%;

    }

    .hero-content h1 {

        font-size: 45px;

    }

    nav ul {

        display: none;

    }


}

@media (max-width:768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }
}

/* Large Desktop */
@media (max-width:1200px) {

}

/* Laptop */
@media (max-width:992px) {

}

/* Tablet */
@media (max-width:768px) {

}

/* Mobile */
@media (max-width:576px) {

}